:root {
   --mat-checkbox-label-text-color: var(--rd-black);
   --mat-checkbox-unselected-icon-color: var(--rd-black);
   --mat-checkbox-unselected-hover-icon-color: var(--mat-checkbox-unselected-icon-color);
   --mat-checkbox-unselected-hover-state-layer-opacity: 0.09;
}

mat-checkbox .mdc-checkbox__ripple {
   transition: opacity 250ms ease;
}

mat-checkbox:has(label.mdc-label:hover) .mdc-checkbox__ripple {
   opacity: var(--mat-checkbox-unselected-hover-state-layer-opacity);
   background-color: var(--mat-checkbox-unselected-hover-state-layer-color);
}
