mat-checkbox {
   margin-left: -11px;
}

.warning {
   display: block;
   text-wrap: wrap;
   max-width: 18rem;
   font-size: 0.75rem;
   color: var(--rd-warn);

   &.invisible {
      visibility: hidden;
   }
}
