<rd-news-tile
   class="guide"
   tileTitle="Gameplay guide"
   description="Learn how to play and how the game mechanics work"></rd-news-tile>
<rd-news-tile
   class="tips"
   tileTitle="Tips & tricks"
   [dialog]="TipsDialogComponent"></rd-news-tile>
<rd-news-tile
   class="controls"
   tileTitle="Controls"
   [dialog]="ControlsDialogComponent"></rd-news-tile>
<rd-news-tile
   class="versions"
   tileTitle="Version history"
   description="Browse the latest additions to Rainy Days"
   [dialog]="VersionHistoryDialogComponent"></rd-news-tile>
<rd-news-tile
   class="roadmap"
   tileTitle="Roadmap"
   description="Discover what's to come to the game"
   [dialog]="RoadmapDialogComponent"></rd-news-tile>
