<rd-news-tile
   class="guide"
   tileTitle="Gameplay guide"
   icon="guide"
   description="Learn how to play and how the game mechanics work"
   quickKey="g"
   [dialog]="GuideDialogComponent"></rd-news-tile>
<rd-news-tile
   class="tips"
   tileTitle="Tips & tricks"
   icon="info"
   quickKey="t"
   [dialog]="TipsDialogComponent"></rd-news-tile>
<rd-news-tile
   class="controls"
   tileTitle="Controls"
   icon="controller"
   quickKey="c"
   [dialog]="ControlsDialogComponent"></rd-news-tile>
<rd-news-tile
   class="versions side-icon"
   tileTitle="Version history"
   description="Browse the latest additions to Rainy Days"
   icon="history"
   quickKey="v"
   [dialog]="VersionHistoryDialogComponent"></rd-news-tile>
<rd-news-tile
   class="roadmap side-icon"
   tileTitle="Roadmap"
   description="Discover what's to come to the game"
   icon="road"
   quickKey="r"
   [dialog]="RoadmapDialogComponent"></rd-news-tile>
