@use 'src/styles/colorTheme' as colorTheme;

:host {
   position: relative;
   display: flex;
   gap: 1rem;
   align-items: center;
   padding-inline: 3rem;
   user-select: none;

   &.game-over {
      justify-content: center;
      gap: 3rem;
   }
}

p {
   margin: 0;
}

.score {
   display: block;
   font-size: 2.5rem;
   margin-right: 2rem;
   min-width: 14rem;
   user-select: none;
}

.toolbar-item-container {
   display: flex;
   align-items: center;
   padding: 0.75rem;
   border: 0.25rem solid colorTheme.primaryColor(600);
   border-radius: 0.5rem;
   transition: border-color 250ms ease-in-out;

   &.selected {
      border-color: colorTheme.primaryColorWithBlack(600);
   }

   .toolbar-item-key {
      font-size: 2rem;
      margin-right: 1rem;
   }

   button {
      font-size: 1.25rem;
   }
}

.game-speed-panel {
   $border-radius: 0.5rem;

   position: absolute;
   top: 100%;
   background-color: inherit;
   padding: 0.5rem;
   left: 0;
   border-bottom-right-radius: $border-radius;

   .game-speed-button {
      display: inline-block;
      font: 1rem monospace;
      border: none;
      background-color: transparent;
      aspect-ratio: 1;
      padding: 0.5rem;
      border-radius: 50%;
      transition: background-color 400ms ease;

      &.selected {
         background-color: rgba(black, 0.4);
      }

      &:not(.selected) {
         cursor: pointer;

         &:hover {
            background-color: rgba(black, 0.2);
         }
      }

      &:focus-visible {
         outline: none;
      }

      & + .game-speed-button {
         margin-left: 0.25rem;
      }
   }
}

p.game-over {
   font-size: 3rem;
   color: colorTheme.accentColorWithBlack(500);
}

.restart-button,
.back-button {
   font-size: 1.5rem;
   height: 3.625rem;
   flex-basis: 14rem;
}
