@use 'sass:math';

:host {
   position: relative;
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   gap: 1rem;
   align-items: center;
   background-color: var(--rd-primary);
   padding-inline: 1rem;
   user-select: none;

   &.game-over {
      justify-content: center;
      gap: 3rem;
   }
}

p {
   margin: 0;
}

.score {
   display: block;
   font-size: 2.5rem;
   min-width: max-content;
   user-select: none;
}

.toolbar-items-container {
   display: flex;
   gap: 0.25rem;

   .toolbar-item {
      position: relative;
      font-size: 1.25rem;
      margin: 0.75rem;
      box-shadow: none;

      &.selected {
         &::after {
            $height: 0.5rem;

            content: '';
            position: absolute;
            left: 0;
            bottom: -0.75rem;
            width: 100%;
            height: $height;
            background-color: var(--rd-accent-darker);
            border-radius: math.div($height, 2);
         }

         .toolbar-item-key {
            color: var(--rd-accent-darker);
            font-weight: bold;
         }
      }

      .toolbar-item-key {
         $translate-percent: 80%;

         position: absolute;
         top: 0;
         left: 0;
         translate: -#{$translate-percent} -#{$translate-percent};
         font-size: 2rem;
         color: var(--rd-accent-disabled);
         margin-right: 1rem;
      }
   }
}

rd-music-controller {
   width: clamp(15rem, 100%, 22rem);
   justify-self: center;
}

.game-speed-panel {
   $border-radius: 0.5rem;

   position: absolute;
   top: 100%;
   z-index: 1;
   background-color: inherit;
   padding: 0.5rem;
   left: 0;
   border-bottom-right-radius: $border-radius;
   opacity: 1;
   transition: opacity 200ms ease;

   &:hover {
      opacity: 0.5;
   }

   .game-speed-button {
      display: inline-block;
      font: 1rem monospace;
      color: var(--rd-white);
      background-color: var(--rd-accent);
      border: none;
      aspect-ratio: 1;
      padding: 0.5rem;
      border-radius: 50%;
      transition: background-color 400ms ease;

      &.selected {
         background-color: var(--rd-accent-darker);
      }

      &:not(.selected) {
         cursor: pointer;
      }

      &:focus-visible {
         outline: none;
      }

      & + .game-speed-button {
         margin-left: 0.25rem;
      }
   }
}

p.defeat,
p.victory {
   font-size: 3rem;
   font-weight: 500;
}

p.defeat {
   color: var(--rd-warn);
}

p.victory {
   color: var(--rd-primary-darker);
}

.end-of-game-button {
   font-size: 1.5rem;
   height: 3.625rem;
   flex-basis: 14rem;
}
