@if (gameStatus().isGameGoing) {
   <p
      class="score"
      matTooltip="New buildings spawn in {{ gameStatus().spawnTimer }} seconds">
      Score: {{ gameStatus().score }}
   </p>
   @if (gameToolbar()) {
      <div class="toolbar-items-container">
         @for (toolbarItem of gameToolbar()!.items; track $index) {
            <button
               mat-fab
               class="toolbar-item"
               [class.selected]="gameStatus().selectedToolbarItem === $index"
               (click)="selectTool($index)">
               <span class="toolbar-item-key">{{ $index }}</span>
               <rd-toolbar-icon
                  [item]="toolbarItem"
                  [matTooltip]="toolbarItem.displayName"></rd-toolbar-icon>
            </button>
         }
      </div>
   }
   <rd-music-controller [handler]="musicHandler"></rd-music-controller>
   <div class="game-speed-panel">
      @for (speed of possibleGameSpeeds; track speed) {
         <div
            class="game-speed-button"
            [class.selected]="(gameStatus() | calculateTrueGameSpeed) === speed"
            (click)="setGameSpeed(speed)">
            x{{ speed }}
         </div>
      }
   </div>
} @else {
   @if (gameStatus().isVictory) {
      <p class="victory">Victory!</p>
   } @else {
      <p class="defeat">Game Over!</p>
   }
   <button
      class="end-of-game-button"
      mat-flat-button
      color="accent"
      (click)="openEndOfGameDialog.emit()">
      Open end of game dialog
   </button>
}
