<rd-dialog-close-button></rd-dialog-close-button>
<h4>Version history</h4>
<main>
   <div class="split-content-chooser">
      @for (mainVersion of versions | reverse; track $index) {
         <div
            class="split-content-chooser-node"
            [class.selected]="mainVersion === selectedVersion"
            (click)="selectedVersion = mainVersion">
            {{ mainVersion.version }}
            @if (mainVersion.name) {
               &minus; {{ mainVersion.name }}
            }
         </div>
         @for (childVersion of mainVersion.childVersions ?? []; track $index) {
            <div
               class="split-content-chooser-node split-content-chooser-child-node"
               [class.selected]="childVersion === selectedVersion"
               (click)="selectedVersion = childVersion">
               {{ childVersion.version }}
               @if (childVersion.name) {
                  - {{ childVersion.name }}
               }
            </div>
         }
      }
   </div>
   <div class="split-content-data version-data">
      <h5>{{ selectedVersion.version }}</h5>
      @if (selectedVersion.name) {
         <p class="version-name">{{ selectedVersion.name }}</p>
      }
      <p class="release-date">{{ selectedVersion.releaseDate | date }}</p>
      @if (selectedVersion.isWIP) {
         <p class="wip-warning">
            <strong>This version is still under development!</strong>
            The final changes can differ from the ones below!
         </p>
      }
      <ul class="changes-list">
         @for (change of selectedVersion.changes; track $index) {
            <li>
               <p>{{ change.description }}</p>
               @if (change.children) {
                  <ul>
                     @for (childChange of change.children; track $index) {
                        <li>
                           <p>{{ childChange }}</p>
                        </li>
                     }
                  </ul>
               }
            </li>
         }
      </ul>
   </div>
</main>
