@use 'mixins';

@include mixins.menu-dialog($fix-width: true);

:host {
   display: grid;
   grid-template-rows: auto 1fr;
   gap: 1rem;
   max-height: 75dvh;

   h4 {
      margin-bottom: 1rem;
   }
}

main {
   height: calc(75dvh - 4rem - 2.1rem - 1rem - 1rem);

   @include mixins.split-content-dialog;
}

.version-data {
   h5 {
      color: var(--rd-primary-darker);
      font-size: 2rem;
      margin: 0;
   }

   .version-name {
      color: var(--rd-primary-darker);
      font-size: 1.75rem;
      font-weight: bold;
      margin-block: 0;
   }

   .release-date {
      color: var(--rd-primary);
      font-size: 1.25rem;
      margin-block: 0.5rem;
   }

   .wip-warning {
      color: var(--rd-warn);
      font-style: italic;
   }

   ul {
      padding-inline-start: 1.5rem;

      &.changes-list {
         margin-block: 1rem 0;
      }

      li {
         p {
            margin-block: 0.5rem;
         }
      }

      + h6 {
         margin-top: 2rem;
      }
   }

   h6 {
      color: var(--rd-primary-darker);
      font-size: 1.125rem;
      margin-block: 1rem 0;
   }
}

.no-version {
   place-self: center;
}
