@use 'mixins';

@include mixins.menu-dialog($fix-width: true);

:host {
   display: grid;
   grid-template-rows: auto 1fr;
   gap: 1rem;
   max-height: 75dvh;

   h4 {
      margin-bottom: 1rem;
   }
}

main {
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 1rem;
   height: calc(75dvh - 4rem - 2.1rem - 1rem - 1rem);
}

.version-chooser {
   font-size: 1.125rem;
   background-color: var(--rd-accent-lighter-alternative);
   border-radius: 0.5rem;
   user-select: none;
   overflow: hidden;

   @include mixins.scrollbar($color: accent);

   .version-node {
      position: relative;
      color: var(--rd-accent-darker);
      font-weight: 550;
      padding: 0.75em;
      transition: background-color 300ms ease;

      &.selected {
         background-color: var(--rd-accent-lighter);
      }

      &:not(.selected) {
         cursor: pointer;
      }

      &.child-version {
         padding-left: 2em;
      }
   }
}

.version-data {
   background-color: var(--rd-primary-lighter);
   padding: 1rem;
   border-radius: 0.5rem;
   overflow-y: auto;

   @include mixins.scrollbar;

   h5 {
      color: var(--rd-primary-darker);
      font-size: 2rem;
      margin: 0;
   }

   .version-name {
      color: var(--rd-primary-darker);
      font-size: 1.75rem;
      font-weight: bold;
      margin-block: 0;
   }

   .release-date {
      color: var(--rd-primary);
      font-size: 1.25rem;
      margin-block: 0.5rem;
   }

   .snapshot-warning {
      color: var(--rd-warn);
      font-style: italic;
   }

   ul {
      padding-inline-start: 1.5rem;

      &.changes-list {
         margin-block: 1rem 0;
      }

      li {
         p {
            margin-block: 0.5rem;
         }
      }
   }
}

.no-version {
   place-self: center;
}
