:root {
   --rd-game-grid-color: #000000;
   --rd-game-building-outline-color: #000000;
   --rd-game-car-outline-color: #000000;
   --rd-game-text-color: var(--rd-black);

   --rd-game-tile-color-base: #ffffff;
   --rd-game-tile-color-1: #1e90ff;
   --rd-game-tile-color-2: #ffd700;
   --rd-game-tile-color-3: #ff4646;
   --rd-game-tile-color-4: #adff2f;
   --rd-game-tile-color-5: #d2691e;

   --rd-game-basic-road-color: #000000;

   --rd-game-tube-outline-color: #000000;
   --rd-game-tube-color: #808080;

   --rd-game-timed-gate-open-color: #bbbbbb;
   --rd-game-timed-gate-closed-color: #444444;
   --rd-game-timed-gate-x-color: #ff0000;
}
