:root {
   --rd-game-tile-color-base: #ffffff;
   --rd-game-tile-color-1: #1e90ff;
   --rd-game-tile-color-2: #ffd700;
   --rd-game-tile-color-3: #ff4646;
   --rd-game-tile-color-4: #adff2f;
   --rd-game-tile-color-5: #d2691e;
}
