@use 'mixins';

@include mixins.menu-dialog($main-heading-level: 2);

:host {
   min-width: unset;
   width: 40dvw;
   min-height: unset;
}

p {
   text-align: justify;
}

button {
   width: 100%;
   margin-top: 1rem;
}
