<mat-icon>music_note</mat-icon>
<p class="song-title">{{ currentSongTitle() }}</p>
<button
   mat-icon-button
   cdkOverlayOrigin
   #volumeChanger="cdkOverlayOrigin"
   class="volume-button"
   (mouseenter)="volumeButtonHover$.next(true)"
   (mouseleave)="volumeButtonHover$.next(false)"
   (click)="onMute()">
   <mat-icon>
      @if (muted) {
         volume_off
      } @else {
         volume_up
      }
   </mat-icon>
</button>
@if (showInfo()) {
   <mat-icon
      rdCustomTooltip
      tooltipPosition="above"
      class="info-icon">
      info
      <span #rdTooltip>
         The game songs were created by
         <a
            class="tooltip-link"
            href="https://suno.com/"
            target="_blank">
            Suno AI
         </a>
      </span>
   </mat-icon>
}

<ng-template
   cdkConnectedOverlay
   [cdkConnectedOverlayOrigin]="volumeChanger"
   [cdkConnectedOverlayPositions]="overlayPositions"
   [cdkConnectedOverlayOpen]="isOverlayOpen()">
   <div
      class="volume-changer-overlay-container"
      (mouseenter)="volumeChangerOverlayHover$.next(true)"
      (mouseleave)="volumeChangerOverlayHover$.next(false)">
      <input
         class="volume-changer"
         type="range"
         orient="vertical"
         min="0"
         max="100"
         step="1"
         [value]="getVolume()"
         (input)="onVolumeChange($event)" />
   </div>
</ng-template>
