<rd-dialog-close-button></rd-dialog-close-button>
<h4>Give feedback!</h4>
<p>Help shape the future of Rainy Days! Give feedback on various topics, or post new feature ideas, report bugs!</p>
<a
   href="https://github.com/"
   target="_blank"
   tabindex="-1">
   <rd-icon name="github"></rd-icon>
</a>
<a
   class="feedback-link"
   [href]="feedbackPollsUrl"
   target="_blank">
   Take part in polls about feature changes or new features!
</a>
<a
   class="feedback-link"
   [href]="musicFeedbackUrl"
   target="_blank">
   Give feedback on the music of the game!
</a>
<a
   class="feedback-link"
   [href]="featureIdeasUrl"
   target="_blank">
   Share with the creator your new ideas for the game!
</a>
<a
   class="feedback-link"
   [href]="bugReportUrl"
   target="_blank">
   Report any bugs you discover in the game!
</a>
<a
   mat-flat-button
   color="accent"
   [href]="githubDiscussionsUrl"
   target="_blank">
   Visit our GitHub Discussions page!
</a>
