:host {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 2fr;
   grid-template-areas:
      'title         news'
      'control-panel news';
   height: 100%;
}

h1 {
   grid-area: title;
   font-size: 7rem;
   text-align: center;
   color: var(--rd-primary);
   margin: 0 2rem;
   align-self: center;
   text-shadow: 0.5rem 0.5rem 2px var(--rd-primary-darker);
   user-select: none;
}

.control-panel {
   $border-width: 2px;
   $border: $border-width solid var(--rd-primary);
   $border-radius: 1rem;

   grid-area: control-panel;
   width: 60%;
   height: calc(100% - 4rem);
   min-width: min(100%, 20rem);
   place-self: center;
   border: $border;
   border-radius: $border-radius;
   background-color: var(--rd-primary-lighter-alternative);

   .title {
      font-size: 2.5rem;
      width: fit-content;
      margin: 0 auto;
      padding: calc(0.5rem - $border-width) 0.5rem 0.5rem;
      text-align: center;
      color: var(--rd-primary-darker);
      border: $border;
      border-top: none;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      user-select: none;
   }

   .control-panel-inputs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 3rem;

      > * {
         width: 100%;
      }

      button {
         font-size: 1.75rem;
         height: 3rem;
      }
   }

   .menu-buttons {
      height: 100%;
      box-sizing: border-box;
   }
}

.game-setup-panel {
   mat-form-field {
      margin-bottom: -20px;
   }
}

rd-news {
   grid-area: news;
}
