:host {
   display: grid;
   grid-template-rows: 7.5rem 1fr;
   height: 100dvh;

   & > * {
      max-width: 100dvw;
   }
}

.game-area-wrapper {
   background-color: var(--rd-accent-lighter);
   display: grid;
   place-items: center;

   &.paused {
      background-color: var(--rd-accent-disabled);
   }

   &.gameOver {
      background-color: var(--rd-warn);
   }
}
