<h5>Roads</h5>
<p>
   Roads are currently the only way for cars to get from their spawners to their destinations. They cannot accommodate
   two cars side by side, and cars travel on them at a constant speed of 1 tile per second. They can be built on a tile
   with any kind of building on it, but there can't be put more than one road on a tile.
</p>
<h6>Basic roads</h6>
<p>
   Basic roads do not have any special features. The cars on them are exposed to the weather, which means rain can
   change their color.
</p>
<h6>Tubes</h6>
<p>
   Tubes are special roads that can guide cars in a covered environment. Cars traveling in tubes are not drenched by
   colored rain.
</p>
<h6>Connecting roads</h6>
<p>
   By default, roads of the same type are connected, always. On the other hand, you can link roads of different types
   using the Editor tool, which is the first element of the toolbar and can be activated with the 0 key. If the player
   holds down the left mouse button and moves the cursor between two adjacent roads, they are linked, regardless of
   their type. The resulting bond cannot be deleted unless either of the two roads is deleted.
</p>
