<h2>New version is available!</h2>
<p>
   New version of Rainy Days is available for you to play! Do you want to install the new updates, or continue playing
   with this version? Installing the updates require restarting the game.
</p>
<div class="buttons-container">
   <button
      mat-flat-button
      color="accent"
      (click)="restartGame()">
      Restart the game
   </button>
   <button
      mat-flat-button
      color="accent"
      (click)="close()">
      Not now
   </button>
</div>
