@use 'src/styles/colorTheme' as colorTheme;

:host {
   user-select: none;
}

h3 {
   margin: 0;
   color: colorTheme.primaryColorWithBlack(600);
}

.delay-button {
   $size: 2rem;
   $radius: 0.5rem;

   font-size: 0.875rem;
   border: 1px solid black;
   outline: none;
   background-color: white;
   height: $size;
   width: $size;
   padding-inline: 0;
   text-align: center;
   cursor: pointer;

   &:first-child {
      margin-left: 0.5rem;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
   }

   &:last-child {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
   }
}

.smaller-bottom-margin {
   margin-bottom: 0.5rem;
}
