@use 'mixins';
@use 'utils';

@include mixins.context-menu;

p {
   margin-block: 0 0.5rem;
}

.delay-button {
   width: 2.5rem;
   padding-inline: 0;

   &:first-child {
      margin-left: 0.5rem;
   }

   &:not(:first-child) {
      @include utils.border-left-radius(unset);
   }

   &:not(:last-child) {
      @include utils.border-right-radius(unset);
   }
}
