@use 'mixins';

@include mixins.menu-dialog;

:host {
   $heading-height: 4.125rem;

   display: grid;
   grid-template-rows: $heading-height calc(100% - $heading-height);
   min-height: 0;
   height: 75dvh;
   max-height: 45rem;
   overflow: hidden;

   @include mixins.phone-width {
      width: 100dvw;
   }
}

main {
   @include mixins.split-content-dialog;
}
