$padding: 1.5rem;

:host {
   position: relative;
   display: grid;
   grid-template-rows: auto 3.5rem 1fr;
   grid-template-areas:
      'title'
      'description'
      'icon';
   align-items: center;
   gap: 1rem;
   color: var(--rd-white);
   background-color: var(--rd-accent-lighter);
   border-radius: 0.25rem;
   padding: $padding;
   user-select: none;
   transition: all 500ms ease;

   &.no-description {
      grid-template-rows: auto 1fr;
      grid-template-areas:
         'title'
         'icon';
   }

   &.side-icon {
      container-type: size;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      grid-template-areas:
         'title icon'
         'description icon';

      .icon-wrapper {
         width: 100cqh;
      }
   }

   &.openable {
      cursor: pointer;
   }

   &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 1rem 0.25rem var(--rd-accent);
      opacity: 0;
      transition: inherit;
   }

   &:hover {
      background-color: var(--rd-accent);

      &::after {
         opacity: 1;
      }
   }
}

h3 {
   grid-area: title;
   font-size: 1.75rem;
   margin: 0;
   text-wrap: balance;
}

.description {
   grid-area: description;
   align-self: start;
   display: block;
   font-size: 1.25rem;
   margin: 0;

   @supports (interpolate-size: allow-keywords) {
      height: 0;
      overflow: hidden;
      transition: height 500ms ease;
      interpolate-size: allow-keywords;

      :host:hover & {
         height: auto;
      }
   }

   @supports not (interpolate-size: allow-keywords) {
      opacity: 0;
      transition: opacity 350ms ease;

      :host:hover & {
         opacity: 1;
      }
   }
}

.icon-wrapper {
   display: grid;
   grid-area: icon;
   align-self: stretch;
   container-type: size;

   rd-icon {
      height: 100cqmin;
      width: 100cqmin;
      place-self: center;
   }
}
