@use '@angular/material' as mat;
@use './styles/colorTheme' as colorTheme;
@include mat.elevation-classes();
@include mat.app-background();

html {
   overflow: hidden;
}

body {
   margin: 0;
   height: 100dvh;
   font-family: Roboto, 'Helvetica Neue', sans-serif;
   background-color: colorTheme.primaryColor(100);
}

::selection {
   background-color: colorTheme.accentColor(900);
   color: white;
}

.center-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

