<rd-dialog-close-button></rd-dialog-close-button>
<h4>Roadmap</h4>
<main>
   <div class="greenhorn-qol">
      <div class="version-container">
         <h5>1.1</h5>
         <p class="version-name">Greenhorn QoL update</p>
         <p class="description">A quality of life update focusing on new players!</p>
         <ul class="content">
            <li>Tutorial</li>
            <li>New utility building</li>
            <li>Challenge modes</li>
            <li>A map feature that spices up the game</li>
         </ul>
      </div>
   </div>
   <div class="rain-your-paint">
      <div class="version-container">
         <h5>1.2</h5>
         <p class="version-name">Rain Your Paint</p>
         <p class="description">Somehow you will be able to turn the rain's power to your side!</p>
         <ul class="content">
            <li>New versatile building</li>
            <li>New game mode option</li>
         </ul>
      </div>
   </div>
   <div class="difficulty-update">
      <div class="version-container">
         <h5>1.3</h5>
         <p class="description">In this update, you can show you are among the best players!</p>
         <ul class="content">
            <li>Difficulties</li>
         </ul>
      </div>
   </div>
   <p class="more-planned">And even more challenges, opportunities and fun rainy updates are planned!</p>
</main>
