<rd-dialog-close-button></rd-dialog-close-button>
<h4>Roadmap</h4>
<main>
   <div class="rain-your-paint">
      <div class="version-container">
         <h5>1.1</h5>
         <p class="version-name">Rain Your Paint</p>
         <p class="description">Somehow you will be able to turn the rain's power to your side!</p>
         <ul class="content">
            <li>New building type</li>
            <li>New road type</li>
         </ul>
      </div>
   </div>
   <div class="difficulty-update">
      <div class="version-container">
         <h5>1.2</h5>
         <p class="description">In this update, you can show you are among the best players!</p>
         <ul class="content">
            <li>Difficulties</li>
            <li>New challenges</li>
         </ul>
      </div>
   </div>
   <div class="upgrade-update">
      <div class="version-container">
         <h5>1.3</h5>
         <p class="description">???</p>
         <ul class="content">
            <li>Additional complexity to some already existing buildings</li>
            <li>The true endgame of the game</li>
         </ul>
      </div>
   </div>
</main>
