@use 'sass:math';
@use 'utils';

@mixin scrollbar($orientation: vertical, $color: primary, $always-visible: false) {
   @include utils.check-arg-value($orientation, (vertical, horizontal, both), orientation);
   @include utils.check-arg-value($color, (primary, accent), color);
   @include utils.check-arg-value($always-visible, (true, false), always-visible);

   @if $color == primary {
      --scrollbar-track-color: var(--rd-primary-lighter-alternative);
      --scrollbar-thumb-color: var(--rd-primary);
   } @else {
      --scrollbar-track-color: var(--rd-accent-lighter);
      --scrollbar-thumb-color: var(--rd-accent);
   }

   #{get-overflow-property-name($orientation)}: get-overflow-property-value($always-visible);
   scroll-behavior: smooth;

   @supports (scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color)) {
      scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
   }

   @supports not (scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color)) {
      $width: 0.5rem;

      &::-webkit-scrollbar {
         -webkit-appearance: none;
         background-color: var(--scrollbar-track-color);
         width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
         background-color: var(--scrollbar-thumb-color);
         border-radius: math.div($width, 2);
      }
   }
}

@function get-overflow-property-name($orientation) {
   @if $orientation == vertical {
      @return overflow-y;
   }
   @if $orientation == horizontal {
      @return overflow-x;
   }
   @return overflow;
}

@function get-overflow-property-value($always-visible) {
   @if $always-visible == true {
      @return scroll;
   }
   @return auto;
}
