@use './scrollbar' as *;

@mixin split-content-dialog {
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 1rem;

   .split-content-chooser {
      font-size: 1.125rem;
      background-color: var(--rd-accent-lightest);
      border-radius: 0.5rem;
      user-select: none;
      overflow: hidden;

      @include scrollbar($color: accent);

      .split-content-chooser-node {
         position: relative;
         color: var(--rd-accent-darker);
         font-weight: 550;
         padding: 0.75em;
         transition: background-color 300ms ease;

         &.selected {
            background-color: var(--rd-accent-lighter);
         }

         &:not(.selected) {
            cursor: pointer;
         }

         &.split-content-chooser-child-node {
            padding-left: 2em;
         }
      }
   }

   .split-content-data {
      background-color: var(--rd-primary-lightest);
      padding: 1rem;
      border-radius: 0.5rem;
      overflow-y: auto;

      @include scrollbar;
   }
}
