<h5>Gates</h5>
<p>
   Gates are buildings that, according to certain rules, can prevent cars from entering their tile. They are small,
   square buildings that can be placed on a tile with a road on it, but the player cannot put more than one gate on a
   tile, or on a tile with a spawned building on it.
</p>
<h6>Colored gates</h6>
<p>
   Colored gates can filter cars by their color. They do not let cars of the same color through, but they let all others
   through.
</p>
<p>
   At the start of each game, the player receives two randomly colored colored gates, which they can use until the end
   of the game.
</p>
<h6>Timed gates</h6>
<p>
   The timed gates switch their state every 4 seconds, whether they are open or closed. By selecting the Editor tool,
   the player can right-click on them to open their context menu, where they can see exactly how long it takes for their
   state to switch, they can also switch it, and they can set a timed pause, which stops the game when the gate switches
   state.
</p>
