<div class="end-of-game-dialog-wrapper">
   <h2>Game Over!</h2>
   <table class="score-container">
      <tr
         class="score"
         [class.best]="dialogData.isNewBest">
         <td>Score:</td>
         <td>{{ dialogData.score }}</td>
      </tr>
      <tr class="best">
         @if (!dialogData.isNewBest) {
            <td>Best:</td>
            <td>{{ dialogData.best }}</td>
         } @else {
            <td colspan="2">New personal best!</td>
         }
      </tr>
   </table>
   <div class="buttons-container">
      <button
         mat-flat-button
         color="accent"
         (click)="playAgain()">
         Play again
      </button>
      <button
         mat-flat-button
         color="accent"
         (click)="backToMenu()">
         Back to menu
      </button>
   </div>
   <div class="seed-container">
      @if (!isSeedRevealed) {
         <button (click)="revealSeed()">Reveal seed</button>
      } @else {
         <div>{{ dialogData.seed }}</div>
      }
   </div>
</div>
