@use 'mixins';

:host {
   $width: 30dvw;
   $padding: 2rem;

   display: grid;
   grid-template-columns: calc($width - 2 * $padding);
   background-color: var(--rd-primary);
   padding: $padding;
   width: $width;
   height: 70dvh;
   min-height: 37.5rem;
   box-sizing: border-box;

   .end-of-game-dialog-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      padding: 1rem;
      background-color: var(--rd-dialog-background-color);
      border-radius: var(--mdc-dialog-container-shape);
   }
}

hgroup {
   h2 {
      font-size: 2.5rem;
      margin: 0;
   }

   .subtitle {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
   }
}

.victory {
   color: var(--rd-primary-darker);
}

.defeat {
   color: var(--rd-warn);
}

.score-container {
   table-layout: fixed;
   margin-block: 1.5rem;

   .score,
   .best {
      font-size: 1.5rem;

      &:not(:first-child) {
         margin-top: 0.5rem;
      }
   }

   .best {
      color: var(--rd-accent);
   }

   td {
      width: 50%;

      &:first-child {
         text-align: end;
         padding-right: 0.5rem;
      }

      &:last-child {
         text-align: start;
      }

      &[colspan='2'] {
         text-align: center;
         padding-right: revert-layer;
      }
   }
}

.buttons-container {
   align-self: stretch;

   button {
      font-size: 1.25rem;
      height: 3rem;
   }
}

.seed-container {
   width: 100%;

   > * {
      color: var(--rd-white);
      font-size: 1.25rem;
      height: 3rem;
      background-color: var(--rd-accent);
      border: none;
      border-radius: var(--mdc-filled-button-container-shape);

      @include mixins.ellipsis($width: 100%);
   }

   button {
      cursor: pointer;
   }

   div {
      text-align: center;
      line-height: 2rem;
      padding: 0.5rem;
      box-sizing: border-box;
   }
}
