<h5>Overview</h5>
<p>
   Rainy Days is a strategy game where you have to build roads and buildings to get the cars to their destination. All
   this in a world where colorful rain pours down from the sky, making your job difficult in a world of demanding
   companies.
</p>
<h6>What are these companies?</h6>
<p>
   Recently you were approached by car manufacturing corporations as a director of a transport company. They want to
   move cars from one of their factories to another and they asked for your help to make it happen. You decided to take
   on the task and build the roads connecting the factories. You also enlisted the help of other construction companies
   to help you with special robot-controlled buildings in this unusual place.
</p>
<h6>Where is this rain coming from?</h6>
<p>
   No one knows. One day, the strange rain clouds appeared and changed the world forever. Some people despair at the
   out-of-this-world phenomenon, while others try to turn this changed world to their own advantage.
</p>
