@use 'src/styles/colorTheme' as colorTheme;

:host {
   --translate-x: 0;
   --translate-y: -100%;

   position: absolute;
   translate: var(--translate-x) var(--translate-y);
   display: block;
   visibility: hidden;
   height: 0;
   background-color: colorTheme.primaryColor(100);
   border: 2px solid colorTheme.primaryColorWithBlack(600);
   border-radius: 1rem;
   padding: 1rem;
   overflow-y: hidden;
   interpolate-size: allow-keywords;
   transition: height 250ms ease;

   &.is-on-bottom {
      --translate-y: 0;
   }

   &.visible {
      visibility: visible;
      height: auto;
   }
}
